@import "estilos.css";

body {
    position: relative;
    /*para q el footer se posicione abajo de la pantalla*/
    min-height: 100vh;
    /*para q ocupe todo el largo de la pantalla*/
}

/* Contenedor principal */
.fondo {
    display: flex;
    /*contenedor flex*/
}

.contenido {
    /* flex-wrap: nowrap;
    acomoda los items en la siguiente linea si no entran en el ancho de la pantalla*/
    justify-content: center;
    /*centrado vertical*/
    min-width: 100%;
    /*el ancho lo marca la pantalla*/
}

.imagen_flotante {
    position: absolute;
    width: 260px;
    height: auto;
    z-index: 2;
    bottom: 0;
}

/* Columnas */
.columna_1,
.columna_2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /*centrado horizontal*/
    min-width: 50%;
    /*para q cada columna ocupe medio ancho de la pantalla*/
}

.columna_1 {
    flex-direction: column;
    /*los contenidos se acomodan en columna*/
    justify-content: space-around;
    /*distribuye de forma proporcional el espacio q hay entre los elementos*/
    margin: 4% 0 5% 0;
}

.columna_2 {
    justify-content: center;
    /*centra el contenido en el eje horizontal*/
}

.boton_seccion_1,
.boton_seccion_2 {
    width: 230px;
    height: 80px;
    color: #000;
    padding-bottom: 10px;
    /*espacio inferior interno*/
    border: none;
    /*sin borde*/
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.boton_seccion_1 {
    background-color: #82C6C7;
    margin: 10px;
}

.boton_seccion_1 p,
.boton_seccion_2 p {
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
}

.boton_seccion_2 {
    background-color: #EC1F26;
    margin: 5px;
}

.boton_seccion_1:hover,
.boton_seccion_2:hover {
    background-color: #FBAC4B;
    cursor: pointer;
    scale: 1.025;
}

.publicidad {
    display: flex;
    justify-content: center;
}

.publicidad iframe {
    width: 240px;
    height: 150px;
    border-radius: 20px;
}


footer {
    background-color: #EC1F26;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    /*para ubicarlo siempre abajo*/
    justify-content: center;
    min-width: 100%;
    /*ocupa todo el ancho*/
    min-height: 40px;
    /*acomoda el largo a lo q necesite*/
    bottom: 0;
    margin: 0;
}

footer .pie {
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 100%;
}

.pie p {
    font-family: 'Aref Ruqaa Ink', serif;
    font-size: 20px;
    color: #ffffff;
    padding: 6px;
    text-align: center;
}

.pie .cpr {
    color: #ffffff;
    padding: 11px 20px 0 0;
}

/*redes sociales*/
.redes-sociales a {
    padding: 0 3px 0;
}

.redes-sociales a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: .2s;
}

.redes-sociales a img:hover {
    transform: scale(1.2);
}


/*estilos pantallas pequeñas en horizontal y vertical min 320px y max 480px (celulares)*/
/*vertical*/

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    .imagen_flotante {
        display: none;
        /*oculta la imagen flotante*/
    }

    footer {
        align-items: center;
        height: 45px;
    }

    .pie {
        justify-content: space-around;
    }

    .pie p {
        font-size: 11px;
        margin-top: 10px;
        padding: 0;
    }

    .pie .cpr {
        position: absolute;
        /*para ubicarlo abajo*/
        font-size: 8px;
        text-align: center;
        padding: 0;
        margin-bottom: 2px;
        bottom: 0;
    }

    /*redes sociales*/
    .redes-sociales {
        position: absolute;
        /*lo centro*/
        margin: 1px;
        padding: 0;
        top: 0;
    }

    .redes-sociales a {
        padding: 10px;
    }

    /*
    .redes-sociales a img {
        width: 10px;
        height: 10px;
    }*/

    .redes-sociales a img:hover {
        transform: none;
        /*apaga la animacion*/
    }
}


/*horizontal*/

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

    .contenido {
        display: flex;
        flex-wrap: nowrap;
    }

    .columna_1 {
        padding-left: 10px;
    }

    .columna_2 {
        margin: 10px 10px 0 0;
        padding-right: 8px;
    }

    .boton_seccion_1,
    .boton_seccion_2 {
        width: 200px;
        height: 80px;
    }

    .boton_seccion_1 {
        margin-bottom: 10px;
    }

    .publicidad {
        align-items: center;
        padding: 6px 5px;
    }

    .publicidad iframe {
        width: 200px;
        height: 150px;
        border-radius: 20px;
    }

    .imagen_flotante {
        display: none;
    }

    .pie p {
        font-size: 13px;
    }

    .pie .cpr {
        font-size: 11px;
        text-align: center;
        padding: 0;
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    /*redes sociales*/
    .redes-sociales {
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
        margin: 0;
    }

}


/* estilos pantallas medianas minimo 481px max 768px (ipads-tabletas)*/
/*vertical*/

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation:portrait) {

    .contenido {
        display: flex;
        flex-direction: column-reverse;
    }

    .imagen_flotante {
        width: 230px;
        bottom: 40px;
        transform: translateX(310px);
    }

    .boton_seccion_1,
    .boton_seccion_2 {
        width: 370px;
        height: 120px;
        font-size: 30px;
        border-radius: 30px;
    }

    .boton_seccion_1 {
        margin: 10px 0 30px 0;
    }

    .boton_seccion_1 p,
    .boton_seccion_2 p {
        font-size: 32px;
    }

    .boton_seccion_2 {
        text-align: left;
        padding-left: 90px;
    }

    .boton_seccion_2 p {
        padding-right: 120px;
    }

    .publicidad {
        margin-top: 30px;
    }

    .publicidad iframe {
        width: 380px;
        height: 230px;
        border-radius: 30px;
    }

    .pie p {
        font-size: 13px;
    }

    .pie .cpr {
        font-size: 11px;
        text-align: center;
        padding: 0;
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    /*redes sociales*/
    .redes-sociales {
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
        margin: 0;
    }
}

/*horizontal*/

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation:landscape) {

    .contenido {
        display: flex;
        /*acomodo de forma horizontal con el contenedor*/
    }

    .imagen_flotante {
        width: 220px;
        bottom: 50px;
    }

    .boton_seccion_1,
    .boton_seccion_2 {
        width: 320px;
        height: 100px;
        font-size: 30px;
        border-radius: 30px;
    }

    .boton_seccion_1 {
        margin: 20px 0 30px 0;
    }

    .boton_seccion_1 p,
    .boton_seccion_2 p {
        font-family: 'Aref Ruqaa Ink', serif;
        font-size: 32px;
    }

    .publicidad {
        margin-top: 30px;
    }

    .publicidad iframe {
        width: 310px;
        height: 210px;
        border-radius: 30px;
    }

    .pie p {
        font-size: 19px;
    }

    .pie .cpr {
        font-size: 16px;
        text-align: center;
        padding: 0;
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    /*redes sociales*/
    .redes-sociales {
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
        margin-left: 10px;
    }

    .redes-sociales a img {
        width: 30px;
        height: 30px;
    }
}

/* estilos pantallas grandes min 769px max 1024px (pantallas pequeñas, laptops)*/

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation:portrait) {
    .contenido {
        display: flex;
        /*acomodo de forma horizontal con el contenedor*/
        flex-wrap: wrap;
        /*los items se acomodan en linea aun si no entran en el ancho de la pantalla*/
        flex-direction: column-reverse;
    }

    .imagen_flotante {
        width: 300px;
        bottom: 70px;
        right: 0;
    }

    .boton_seccion_1,
    .boton_seccion_2 {
        width: 390px;
        height: 140px;
        font-size: 36px;
        border-radius: 45px;
        padding-bottom: 20px;
    }

    .boton_seccion_1 {
        margin: 0 0 20px 0;
    }

    .boton_seccion_2 {
        margin: 20px 0 20px 0;
    }

    .boton_seccion_1 p,
    .boton_seccion_2 p {
        font-size: 38px;
    }

    .publicidad {
        margin: 50px 55px;
    }

    .publicidad iframe {
        width: 400px;
        height: 320px;
        border-radius: 30px;
    }

    footer {
        padding: 10px 20px 10px 15px;
    }

    footer .pie {
        padding: 0;
    }

    .pie p {
        font-size: 22px;
    }

    .pie .cpr {
        font-size: 20px;
        text-align: center;
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    /*redes sociales*/
    .redes-sociales {
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    .redes-sociales a img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation:landscape) {
    .contenido {
        display: flex;
    }

    .imagen_flotante {
        width: 350px;
        bottom: 60px;
    }

    .boton_seccion_1,
    .boton_seccion_2 {
        width: 390px;
        height: 140px;
        font-size: 36px;
        border-radius: 45px;
        padding-bottom: 0px;
    }

    .boton_seccion_1 {
        margin: 0 0 20px 0;
    }

    .boton_seccion_2 {
        margin: 10px 0 20px 0;
    }

    .boton_seccion_1 p,
    .boton_seccion_2 p {
        font-size: 38px;
    }

    .publicidad {
        margin: 50px 55px;
    }


    .publicidad iframe {
        width: 400px;
        height: 320px;
        border-radius: 30px;
    }

    footer {
        height: 60px;
    }


    footer .pie {
        padding: 0;
    }

    .pie p {
        font-size: 22px;
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
        margin-bottom: 10px;
    }

    .pie .cpr {
        font-size: 20px;
        text-align: center;
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
        padding: 10px;
    }

    /*redes sociales*/
    .redes-sociales {
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    .redes-sociales a img {
        width: 30px;
        height: 30px;
    }
}

/* pantallas muy grandes min 1025px(pc escritorio-pantallas grandes)*/

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .contenido {
        display: flex;
        /*acomodo de forma horizontal con el contenedor*/

    }

    .imagen_flotante {
        width: 400px;
        bottom: 70px;
        transform: translateX(20px);
    }

    .boton_seccion_1,
    .boton_seccion_2 {
        width: 480px;
        height: 220px;
        font-size: 50px;
        border-radius: 60px;
        padding-bottom: 20px;
    }

    .boton_seccion_1 {
        margin: 100px 0 40px 0;
    }

    .boton_seccion_2 {
        margin: 70px 0 20px 0;
    }

    .boton_seccion_1 p,
    .boton_seccion_2 p {
        font-size: 48px;
    }

    .publicidad {
        margin: 100px 55px;
    }

    .publicidad iframe {
        width: 450px;
        height: 350px;
        border-radius: 60px;
    }

    footer {
        position: absolute;
        justify-content: space-between;
        height: 70px;
        bottom: 0;
    }

    footer .pie {
        padding: 5px;
    }

    .pie p {
        font-size: 28px;
    }

    .pie .cpr {
        font-size: 24px;
        text-align: center;
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    .redes-sociales {
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    .redes-sociales a img {
        width: 40px;
        height: 40px;
    }

}


@media screen and (min-width: 1281px) {
    .contenido {
        display: flex;
        /*acomodo de forma horizontal con el contenedor*/

    }

    .imagen_flotante {
        width: 400px;
        bottom: 70px;
        transform: translateX(20px);
    }

    .boton_seccion_1,
    .boton_seccion_2 {
        width: 480px;
        height: 220px;
        font-size: 50px;
        border-radius: 60px;
        padding-bottom: 20px;
    }

    .boton_seccion_1 {
        margin: 100px 0 40px 0;
    }

    .boton_seccion_2 {
        margin: 70px 0 20px 0;
    }

    .boton_seccion_1 p,
    .boton_seccion_2 p {
        font-size: 52px;
    }

    .publicidad {
        margin: 100px 55px;
    }

    .publicidad iframe {
        width: 480px;
        height: 380px;
        border-radius: 60px;
    }

    footer {
        position: fixed;
        justify-content: space-between;
        padding: 10px 0 10px 15px;
        width: 100%;
    }

    .pie p {
        font-size: 26px;
    }

    /*redes sociales*/
    .redes-sociales {
        display: flex;
        /*acomodo a lo ancho*/
        align-items: center;
        /*centro en el eje Y*/
    }

    .redes-sociales a img {
        width: 30px;
        height: 30px;
    }
}